.draw {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

body {
    background-image: url('../img/bg.png');
    background-size: cover;
    color: #FBFAF8;
}

.main-container {
    height: 100vh;
}

.reset-padding {
    padding: 0;
}

.navigation-container {
    background: #00000090;
}

.full-width {
    width: 100vw;
}

.login-form {
    width: 100%;
    height: 100%;
}

.login-form-row {
    height: 33%;
}

.forgot-password-text {
    padding: 0;
    font-size: medium;
    color: #F4F5F5;
    background-color: transparent;
    border-color: transparent;
}

.go-back-button {
    margin-top: 10px;
    color: #202c39;
}

 /* Forgot password button */
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: lightsteelblue;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.slogan-container {
    display: grid;
    align-content: center;
}

.auth-container-out {
    margin: 7vh 0 7vh 0;
    padding: 0% 1% 0% 1%;
}

.auth-container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1% 5% 1% 5%;
    color: #202c39;
    background: #FBFAF8;
}

.form-auth-margin-top {
    margin-top: 10px;
}

.form-signup-name {
    padding-right: 5px;
}

.form-signup-last-name {
    padding-left: 5px;
}

.ver-hor-center {
    display: grid;
    align-items: center;
    justify-items: center;
}

.note-container {
    border-radius: 15px;
    margin: 1% 2% 2% 10%;
    color: #202c39;
}

.note-container-title {
    color: #FBFAF8;
}

.navigation-user-info {
    display: grid;
    align-items: center;
    justify-items: right;
}

.add-note-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.note-item-col {
    margin-top: 20px;
}

.card {
    background-color: #FBFAF8;
    border-radius: 10px;
}

.modal {
    color: #202c39;
}

.not-found-container {
    background-color: #202c39;
}

.not-found-col {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
}

.not-found-button {
    margin-top: 5vh;
    border-radius: 10px;
}

.toast-header, .toast-body {
    background-color: #FBFAF8;
    color: #202c39;
}

.toast-container {
    margin: 5% 0% 5% 0%;
    float: right;
}

@media only screen and (max-width: 768px) { 
    .logo-responsive {
        display: grid;
        justify-items: center;
    }

    .username-responsive {
        margin-bottom: 10px;
    }

    .login-form {
        display: grid;
        align-items: start;
    }

    .main-container {
        height: 100%;
    }

    .auth-container-out {
        padding: 0 5% 5% 5%;
        margin-bottom: 0;
    }

    .navigation-container {
        background: #0F141A;
    }

    .navigation-user-info {
        justify-items: center;
    }

    .note-container {
        margin-left: 2%;
    }
}

@media only screen and (min-width: 768px) { 
    .login-responsive {
        padding-left: 0px;
    }
}